version: '3.8'

services:
  api:
    build: .
    container_name: turbolauncher-app
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
      - ./uploaded_pdfs:/app/uploaded_pdfs
    restart: always